header.header
    .header__slider
        .header__slider-item.slider-item(style={"background-image":"url(../static/images/content/header-bg.jpg)"})
            .slider-item__info
                .slider-item__info-suptitle.suptitle-left Surf
                .slider-item__info-title North Shore
                .slider-item__info-suptext.suptitle-left Condition
                .slider-item__info-text Radical
                a(href="#").slider-item__info-link
                    img(src="static/images/content/icon/arrow-right.svg", alt="arrow-right")
        .header__slider-item.slider-item(style={"background-image":"url(../static/images/content/header-bg.jpg)"})
            .slider-item__info
                .slider-item__info-suptitle.suptitle-left Surf
                .slider-item__info-title South Shore
                .slider-item__info-suptext.suptitle-left Condition
                .slider-item__info-text Radical
                a(href="#").slider-item__info-link
                    img(src="static/images/content/icon/arrow-right.svg", alt="arrow-right")
        .header__slider-item.slider-item(style={"background-image":"url(../static/images/content/header-bg.jpg)"})
            .slider-item__info
                .slider-item__info-suptitle.suptitle-left Surf
                .slider-item__info-title West Shore 
                .slider-item__info-suptext.suptitle-left Condition
                .slider-item__info-text Radical
                a(href="#").slider-item__info-link
                    img(src="static/images/content/icon/arrow-right.svg", alt="arrow-right")
        .header__slider-item.slider-item(style={"background-image":"url(../static/images/content/header-bg.jpg)"})
            .slider-item__info
                .slider-item__info-suptitle.suptitle-left Surf
                .slider-item__info-title East Shore
                .slider-item__info-suptext.suptitle-left Condition
                .slider-item__info-text Radical
                a(href="#").slider-item__info-link
                    img(src="static/images/content/icon/arrow-right.svg", alt="arrow-right")
    .slider-dots
        .slider-dots__item
            .dots-box
                .dots-box__number 01
                .dots-box__name North Shore
        .slider-dots__item
            .dots-box
                .dots-box__number 02
                .dots-box__name South Shore
        .slider-dots__item
            .dots-box
                .dots-box__number 03
                .dots-box__name West Shore 
        .slider-dots__item
            .dots-box
                .dots-box__number 04
                .dots-box__name East Shore
