section.shop(style={"background-image":"url(../static/images/content/shop/slider/slide_1.png)"}) 
    .title 
        span shop 
            h3 shop
    .shop__slider
        .shop__slider-item
            .shop__slider-inner
                .shop__slider-info
                    .descr
                        .headline-right Style
                        .descr__head North Nugget TT<br>Surfboard
                    .shop__slider-price
                        ul.holder__star-list
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                        
                        div $ 799<sup>99</sup>
                    .shop__slider-btn
                        a(href="#").btn Drop
                            span in    
                .shop__slider-content
                    .surfboard
                        img(src="static/images/content/shop/surfboard.png", alt="surfboard")
                        .surfboard-box.surfboard__position--1
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--2
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--3
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                    .shop__extras
                        .shop__extras-title Extras
                        .shop__extras-inner
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/wax.png", alt="wax")
                                .shop__extras-name Sex Wax
                                .shop__extras-price $ 24.99
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/bracelet.png", alt="bracelet")
                                .shop__extras-name Pura Vida
                                .shop__extras-price $ 27.99
        .shop__slider-item
            .shop__slider-inner
                .shop__slider-info
                    .descr
                        .headline-right Style
                        .descr__head North Nugget TT<br>Surfboard
                    .shop__slider-price
                        ul.holder__star-list
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                        
                        div $ 799<sup>99</sup>
                    .shop__slider-btn
                        a(href="#").btn Drop
                            span in    
                .shop__slider-content
                    .surfboard
                        img(src="static/images/content/shop/surfboard.png", alt="surfboard")
                        .surfboard-box.surfboard__position--1
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--2
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--3
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                    .shop__extras
                        .shop__extras-title Extras
                        .shop__extras-inner
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/wax.png", alt="wax")
                                .shop__extras-name Sex Wax
                                .shop__extras-price $ 24.99
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/bracelet.png", alt="bracelet")
                                .shop__extras-name Pura Vida
                                .shop__extras-price $ 27.99
        .shop__slider-item
            .shop__slider-inner
                .shop__slider-info
                    .descr
                        .headline-right Style
                        .descr__head North Nugget TT<br>Surfboard
                    .shop__slider-price
                        ul.holder__star-list
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                        
                        div $ 799<sup>99</sup>
                    .shop__slider-btn
                        a(href="#").btn Drop
                            span in    
                .shop__slider-content
                    .surfboard
                        img(src="static/images/content/shop/surfboard.png", alt="surfboard")
                        .surfboard-box.surfboard__position--1
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--2
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--3
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                    .shop__extras
                        .shop__extras-title Extras
                        .shop__extras-inner
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/wax.png", alt="wax")
                                .shop__extras-name Sex Wax
                                .shop__extras-price $ 24.99
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/bracelet.png", alt="bracelet")
                                .shop__extras-name Pura Vida
                                .shop__extras-price $ 27.99
        .shop__slider-item
            .shop__slider-inner
                .shop__slider-info
                    .descr
                        .headline-right Style
                        .descr__head North Nugget TT<br>Surfboard
                    .shop__slider-price
                        ul.holder__star-list
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                        
                        div $ 799<sup>99</sup>
                    .shop__slider-btn
                        a(href="#").btn Drop
                            span in    
                .shop__slider-content
                    .surfboard
                        img(src="static/images/content/shop/surfboard.png", alt="surfboard")
                        .surfboard-box.surfboard__position--1
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--2
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--3
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                    .shop__extras
                        .shop__extras-title Extras
                        .shop__extras-inner
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/wax.png", alt="wax")
                                .shop__extras-name Sex Wax
                                .shop__extras-price $ 24.99
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/bracelet.png", alt="bracelet")
                                .shop__extras-name Pura Vida
                                .shop__extras-price $ 27.99
        .shop__slider-item
            .shop__slider-inner
                .shop__slider-info
                    .descr
                        .headline-right Style
                        .descr__head North Nugget TT<br>Surfboard
                    .shop__slider-price
                        ul.holder__star-list
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                        
                        div $ 799<sup>99</sup>
                    .shop__slider-btn
                        a(href="#").btn Drop
                            span in    
                .shop__slider-content
                    .surfboard
                        img(src="static/images/content/shop/surfboard.png", alt="surfboard")
                        .surfboard-box.surfboard__position--1
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--2
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--3
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                    .shop__extras
                        .shop__extras-title Extras
                        .shop__extras-inner
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/wax.png", alt="wax")
                                .shop__extras-name Sex Wax
                                .shop__extras-price $ 24.99
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/bracelet.png", alt="bracelet")
                                .shop__extras-name Pura Vida
                                .shop__extras-price $ 27.99
        .shop__slider-item
            .shop__slider-inner
                .shop__slider-info
                    .descr
                        .headline-right Style
                        .descr__head North Nugget TT<br>Surfboard
                    .shop__slider-price
                        ul.holder__star-list
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                        
                        div $ 799<sup>99</sup>
                    .shop__slider-btn
                        a(href="#").btn Drop
                            span in    
                .shop__slider-content
                    .surfboard
                        img(src="static/images/content/shop/surfboard.png", alt="surfboard")
                        .surfboard-box.surfboard__position--1
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--2
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--3
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                    .shop__extras
                        .shop__extras-title Extras
                        .shop__extras-inner
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/wax.png", alt="wax")
                                .shop__extras-name Sex Wax
                                .shop__extras-price $ 24.99
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/bracelet.png", alt="bracelet")
                                .shop__extras-name Pura Vida
                                .shop__extras-price $ 27.99
        .shop__slider-item
            .shop__slider-inner
                .shop__slider-info
                    .descr
                        .headline-right Style
                        .descr__head North Nugget TT<br>Surfboard
                    .shop__slider-price
                        ul.holder__star-list
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                        
                        div $ 799<sup>99</sup>
                    .shop__slider-btn
                        a(href="#").btn Drop
                            span in    
                .shop__slider-content
                    .surfboard
                        img(src="static/images/content/shop/surfboard.png", alt="surfboard")
                        .surfboard-box.surfboard__position--1
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--2
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--3
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                    .shop__extras
                        .shop__extras-title Extras
                        .shop__extras-inner
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/wax.png", alt="wax")
                                .shop__extras-name Sex Wax
                                .shop__extras-price $ 24.99
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/bracelet.png", alt="bracelet")
                                .shop__extras-name Pura Vida
                                .shop__extras-price $ 27.99
        .shop__slider-item
            .shop__slider-inner
                .shop__slider-info
                    .descr
                        .headline-right Style
                        .descr__head North Nugget TT<br>Surfboard
                    .shop__slider-price
                        ul.holder__star-list
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                        
                        div $ 799<sup>99</sup>
                    .shop__slider-btn
                        a(href="#").btn Drop
                            span in    
                .shop__slider-content
                    .surfboard
                        img(src="static/images/content/shop/surfboard.png", alt="surfboard")
                        .surfboard-box.surfboard__position--1
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--2
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                        .surfboard-box.surfboard__position--3
                            .surfboard-box__circle
                                .circle-row
                                .circle-row

                            .surfboard-box__content Double Concave with Vee Shape low point
                    .shop__extras
                        .shop__extras-title Extras
                        .shop__extras-inner
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/wax.png", alt="wax")
                                .shop__extras-name Sex Wax
                                .shop__extras-price $ 24.99
                            .shop__extras-box
                                .shop__extras-img
                                    img(src="static/images/content/shop/bracelet.png", alt="bracelet")
                                .shop__extras-name Pura Vida
                                .shop__extras-price $ 27.99