section.shop 
    .title 
        span shop 
            h3 shop
    .shop__slider
        .shop__slider-item
            .shop__slider-inner
                .shop__slider-info
                    .descr
                        .headline-right Style
                        .descr__head North Nugget TT<br>Surfboard
                    .shop__slider-price
                        ul.holder__star-list
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                            li
                                img(src="static/images/content/sleep/star.svg", alt="star")
                        
                        div $799<sup>99</sup>
                        .shop__slider-btn
                            a(href="#").btn Drop
                                span in    
                .shop__slider-content
                    .surfboard
                        img(src="static/images/content/shop/surfboard.png", alt="surfboard")

