section.surf 
    .title 
        span surf 
            h3 surf
    .surf__subtitle
        .subtitle
            .headline-left Current location
            .subtitle__head California <span>|</span> USA
    .slider-map
        .slider-dots.slider-dots--1
            .slider-dots__circle
            .slider-dots__content
                .slider-dots__content-row
                    .slider-dots__content-head  
                        .slider-dots__content-title Airlie Beach
                        .slider-dots__content-subtitle Australia
                    a.slider-dots__content-link(href='#')
                        img(src="static/images/content/icon/arrow-right.svg", alt="arrow-right")
                .slider-dots__content-row
                    .slider-dots__content-item
                        img(src="static/images/content/surf/surf.svg", alt="surf")
                        .slider-dots__content-number 9 - 13
                        .slider-dots__content-name Surf (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/water.svg", alt="water")
                        .slider-dots__content-number +2.3
                        .slider-dots__content-name Tide (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/wind.svg", alt="wind")
                        .slider-dots__content-number 4SE
                        .slider-dots__content-name Wind (KTS)
        .slider-dots.slider-dots--2
            .slider-dots__circle
            .slider-dots__content
                .slider-dots__content-row
                    .slider-dots__content-head  
                        .slider-dots__content-title Airlie Beach
                        .slider-dots__content-subtitle Australia
                    a.slider-dots__content-link(href='#')
                        img(src="static/images/content/icon/arrow-right.svg", alt="arrow-right")
                .slider-dots__content-row
                    .slider-dots__content-item
                        img(src="static/images/content/surf/surf.svg", alt="surf")
                        .slider-dots__content-number 9 - 13
                        .slider-dots__content-name Surf (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/water.svg", alt="water")
                        .slider-dots__content-number +2.3
                        .slider-dots__content-name Tide (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/wind.svg", alt="wind")
                        .slider-dots__content-number 4SE
                        .slider-dots__content-name Wind (KTS)
        .slider-dots.slider-dots--3
            .slider-dots__circle
            .slider-dots__content
                .slider-dots__content-row
                    .slider-dots__content-head  
                        .slider-dots__content-title Airlie Beach
                        .slider-dots__content-subtitle Australia
                    a.slider-dots__content-link(href='#')
                        img(src="static/images/content/icon/arrow-right.svg", alt="arrow-right")
                .slider-dots__content-row
                    .slider-dots__content-item
                        img(src="static/images/content/surf/surf.svg", alt="surf")
                        .slider-dots__content-number 9 - 13
                        .slider-dots__content-name Surf (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/water.svg", alt="water")
                        .slider-dots__content-number +2.3
                        .slider-dots__content-name Tide (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/wind.svg", alt="wind")
                        .slider-dots__content-number 4SE
                        .slider-dots__content-name Wind (KTS)
        .slider-dots.slider-dots--4
            .slider-dots__circle
            .slider-dots__content
                .slider-dots__content-row
                    .slider-dots__content-head  
                        .slider-dots__content-title Airlie Beach
                        .slider-dots__content-subtitle Australia
                    a.slider-dots__content-link(href='#')
                        img(src="static/images/content/icon/arrow-right.svg", alt="arrow-right")
                .slider-dots__content-row
                    .slider-dots__content-item
                        img(src="static/images/content/surf/surf.svg", alt="surf")
                        .slider-dots__content-number 9 - 13
                        .slider-dots__content-name Surf (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/water.svg", alt="water")
                        .slider-dots__content-number +2.3
                        .slider-dots__content-name Tide (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/wind.svg", alt="wind")
                        .slider-dots__content-number 4SE
                        .slider-dots__content-name Wind (KTS)
        .slider-dots.slider-dots--5
            .slider-dots__circle
            .slider-dots__content
                .slider-dots__content-row
                    .slider-dots__content-head  
                        .slider-dots__content-title Airlie Beach
                        .slider-dots__content-subtitle Australia
                    a.slider-dots__content-link(href='#')
                        img(src="static/images/content/icon/arrow-right.svg", alt="arrow-right")
                .slider-dots__content-row
                    .slider-dots__content-item
                        img(src="static/images/content/surf/surf.svg", alt="surf")
                        .slider-dots__content-number 9 - 13
                        .slider-dots__content-name Surf (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/water.svg", alt="water")
                        .slider-dots__content-number +2.3
                        .slider-dots__content-name Tide (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/wind.svg", alt="wind")
                        .slider-dots__content-number 4SE
                        .slider-dots__content-name Wind (KTS)
        .slider-dots.slider-dots--6
            .slider-dots__circle
            .slider-dots__content
                .slider-dots__content-row
                    .slider-dots__content-head  
                        .slider-dots__content-title Airlie Beach
                        .slider-dots__content-subtitle Australia
                    a.slider-dots__content-link(href='#')
                        img(src="static/images/content/icon/arrow-right.svg", alt="arrow-right")
                .slider-dots__content-row
                    .slider-dots__content-item
                        img(src="static/images/content/surf/surf.svg", alt="surf")
                        .slider-dots__content-number 9 - 13
                        .slider-dots__content-name Surf (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/water.svg", alt="water")
                        .slider-dots__content-number +2.3
                        .slider-dots__content-name Tide (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/wind.svg", alt="wind")
                        .slider-dots__content-number 4SE
                        .slider-dots__content-name Wind (KTS)
        .slider-dots.slider-dots--7
            .slider-dots__circle
            .slider-dots__content
                .slider-dots__content-row
                    .slider-dots__content-head  
                        .slider-dots__content-title Airlie Beach
                        .slider-dots__content-subtitle Australia
                    a.slider-dots__content-link(href='#')
                        img(src="static/images/content/icon/arrow-right.svg", alt="arrow-right")
                .slider-dots__content-row
                    .slider-dots__content-item
                        img(src="static/images/content/surf/surf.svg", alt="surf")
                        .slider-dots__content-number 9 - 13
                        .slider-dots__content-name Surf (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/water.svg", alt="water")
                        .slider-dots__content-number +2.3
                        .slider-dots__content-name Tide (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/wind.svg", alt="wind")
                        .slider-dots__content-number 4SE
                        .slider-dots__content-name Wind (KTS)
        .slider-dots.slider-dots--8
            .slider-dots__circle
            .slider-dots__content
                .slider-dots__content-row
                    .slider-dots__content-head  
                        .slider-dots__content-title Airlie Beach
                        .slider-dots__content-subtitle Australia
                    a.slider-dots__content-link(href='#')
                        img(src="static/images/content/icon/arrow-right.svg", alt="arrow-right")
                .slider-dots__content-row
                    .slider-dots__content-item
                        img(src="static/images/content/surf/surf.svg", alt="surf")
                        .slider-dots__content-number 9 - 13
                        .slider-dots__content-name Surf (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/water.svg", alt="water")
                        .slider-dots__content-number +2.3
                        .slider-dots__content-name Tide (FT)
                    .slider-dots__content-item
                        img(src="static/images/content/surf/wind.svg", alt="wind")
                        .slider-dots__content-number 4SE
                        .slider-dots__content-name Wind (KTS)
    .surf-slider
        .surf-box(style={"background-image":"url(../static/images/content/surf/slide_1.jpg)"}) 
            .surf-box__inner
                .surf-box__inner-title Malibu Beach
                .surf-box__inner-location California <span>|</span> USA
                .surf-box__inner-btn   
                    a(href="#").btn view 
                        span surf
        .surf-box(style={"background-image":"url(../static/images/content/surf/slide_2.jpg)"}) 
            .surf-box__inner
                .surf-box__inner-title Airlie Beach
                .surf-box__inner-location Queensland <span>|</span> Australia 
                .surf-box__inner-btn   
                    a(href="#").btn view 
                        span surf
        .surf-box(style={"background-image":"url(../static/images/content/surf/slide_3.jpg)"}) 
            .surf-box__inner
                .surf-box__inner-title Cloud Nine
                .surf-box__inner-location Siargao <span>|</span> Philippines
                .surf-box__inner-btn   
                    a(href="#").btn view 
                        span surf
        .surf-box(style={"background-image":"url(../static/images/content/surf/slide_4.jpg)"}) 
            .surf-box__inner
                .surf-box__inner-title Vieux Boucau
                .surf-box__inner-location Hossegor <span>|</span> France
                .surf-box__inner-btn   
                    a(href="#").btn view 
                        span surf
        .surf-box(style={"background-image":"url(../static/images/content/surf/slide_1.jpg)"}) 
            .surf-box__inner
                .surf-box__inner-title Malibu Beach
                .surf-box__inner-location California <span>|</span> USA
                .surf-box__inner-btn   
                    a(href="#").btn view 
                        span surf
        .surf-box(style={"background-image":"url(../static/images/content/surf/slide_2.jpg)"}) 
            .surf-box__inner
                .surf-box__inner-title Airlie Beach
                .surf-box__inner-location Queensland <span>|</span> Australia 
                .surf-box__inner-btn   
                    a(href="#").btn view 
                        span surf
        .surf-box(style={"background-image":"url(../static/images/content/surf/slide_3.jpg)"}) 
            .surf-box__inner
                .surf-box__inner-title Cloud Nine
                .surf-box__inner-location Siargao <span>|</span> Philippines
                .surf-box__inner-btn   
                    a(href="#").btn view 
                        span surf
        .surf-box(style={"background-image":"url(../static/images/content/surf/slide_4.jpg)"}) 
            .surf-box__inner
                .surf-box__inner-title Vieux Boucau
                .surf-box__inner-location Hossegor <span>|</span> France
                .surf-box__inner-btn   
                    a(href="#").btn view 
                        span surf
        


