section.travel
    .container
        .title 
            span travel 
                h3 travel
        .travel__slider
            .travel__slider-item.travel-slider
                .travel-slider__head(style={"background-image":"url(../static/images/content/travel/slider/travel-bg_1.png)"})
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach <span>|</span> Australia
                .travel-slider__descr(style={"background-image":"url(../static/images/content/travel/airline.png)"})
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="static/images/content/travel/airline-logo.png", alt="airline-logo")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title Queensland <br> Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title 23 Hours <br> 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn   
                    a(href="#").btn book
                        span flight    
            .travel__slider-item.travel-slider
                .travel-slider__head(style={"background-image":"url(../static/images/content/travel/slider/travel-bg_1.png)"})
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach <span>|</span> Australia
                .travel-slider__descr(style={"background-image":"url(../static/images/content/travel/airline.png)"})
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="static/images/content/travel/airline-logo.png", alt="airline-logo")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title Queensland <br> Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title 23 Hours <br> 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn   
                    a(href="#").btn book
                        span flight    
            .travel__slider-item.travel-slider
                .travel-slider__head(style={"background-image":"url(../static/images/content/travel/slider/travel-bg_1.png)"})
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach <span>|</span> Australia
                .travel-slider__descr(style={"background-image":"url(../static/images/content/travel/airline.png)"})
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="static/images/content/travel/airline-logo.png", alt="airline-logo")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title Queensland <br> Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title 23 Hours <br> 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn   
                    a(href="#").btn book
                        span flight    
            .travel__slider-item.travel-slider
                .travel-slider__head(style={"background-image":"url(../static/images/content/travel/slider/travel-bg_1.png)"})
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach <span>|</span> Australia
                .travel-slider__descr(style={"background-image":"url(../static/images/content/travel/airline.png)"})
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="static/images/content/travel/airline-logo.png", alt="airline-logo")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title Queensland <br> Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title 23 Hours <br> 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn   
                    a(href="#").btn book
                        span flight    
            .travel__slider-item.travel-slider
                .travel-slider__head(style={"background-image":"url(../static/images/content/travel/slider/travel-bg_1.png)"})
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach <span>|</span> Australia
                .travel-slider__descr(style={"background-image":"url(../static/images/content/travel/airline.png)"})
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="static/images/content/travel/airline-logo.png", alt="airline-logo")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title Queensland <br> Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title 23 Hours <br> 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn   
                    a(href="#").btn book
                        span flight    
            .travel__slider-item.travel-slider
                .travel-slider__head(style={"background-image":"url(../static/images/content/travel/slider/travel-bg_1.png)"})
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach <span>|</span> Australia
                .travel-slider__descr(style={"background-image":"url(../static/images/content/travel/airline.png)"})
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="static/images/content/travel/airline-logo.png", alt="airline-logo")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title Queensland <br> Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title 23 Hours <br> 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn   
                    a(href="#").btn book
                        span flight    
            .travel__slider-item.travel-slider
                .travel-slider__head(style={"background-image":"url(../static/images/content/travel/slider/travel-bg_1.png)"})
                    .travel-slider__subtitle
                        .subtitle
                            .headline-left Shore
                            .subtitle__head Airlie Beach <span>|</span> Australia
                .travel-slider__descr(style={"background-image":"url(../static/images/content/travel/airline.png)"})
                    .descr
                        .headline-right Airline
                        .descr__head Virgin Australia
                            img(src="static/images/content/travel/airline-logo.png", alt="airline-logo")
                .travel-slider__info
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Destination
                        .travel-slider__info-title Queensland <br> Australia
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Distance
                        .travel-slider__info-title 7,065 Miles
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Travel Time
                        .travel-slider__info-title 23 Hours <br> 5 Minutes
                    .travel-slider__info-item
                        .travel-slider__info-subtitle Pricing
                        .travel-slider__info-title $1,976 USD
                            span Round Trip
                .travel-slider__btn   
                    a(href="#").btn book
                        span flight    
