extends template/main

block variables
	- var title = 'Surf'
	- var currentURL = 'index.html'

block content
	.container
		include modules/surf/surf
		include modules/travel/travel
		include modules/sleep/sleep
		include modules/shop/shop
	
