.shop {
    background-repeat: no-repeat;
    background-position: right center;
    padding-top: 100px;

    .slider-arrows {
        opacity: 0.25;
        top: 0;
    }
}

.shop__slider {
    padding-left: 132px;

    &-inner {
        display: flex;
    }

    &-info {
        width: 100%;
        max-width: 480px;
        margin-right: 40px;
        padding-top: 150px;
    }

    &-price {
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 64px;

        sup {
            font-size: 18px;
            padding-left: 2px;
        }
    }

    &-content {
        padding-left: 170px;
        display: flex;
        align-items: flex-end;
    }

    .shop__extras {
        padding-left: 150px;

        &-inner {
            display: flex;

        }

        &-title {
            margin-bottom: 25px;
            font-weight: 800;
            font-size: 28px;
            line-height: 40px;
        }

        &-box {
            text-align: center;
            margin-right: 57px;
        }

        &-img {
            min-height: 105px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-name {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 8px;
            opacity: 0.5;
            margin-bottom: 16px;
        }

        &-price {
            font-weight: 800;
            font-size: 18px;
            line-height: 40px;
            margin-bottom: 35px;
        }
    }

}

.surfboard {
    position: relative;

    &-box {
        position: absolute;


        &__circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            position: relative;

            &.active {
                .circle-row {
                    transform: translate(-50%, -50%) rotate(0);
                }
            }

        }

        &__content {
            display: none;
            position: absolute;
            top: -15px;
            left: 40px;
            width: 359px;
            font-weight: 800;
            font-size: 24px;
            line-height: 24px;
            padding-left: 104px;

            &::before {
                content: '';
                position: absolute;
                width: 80px;
                height: 1px;
                background-color: $white;
                left: 0;
                top: 50%;
            }
        }
    }

    &__position {
        &--1 {
            right: 15px;
            top: 215px;
        }

        &--2 {
            left: -6px;
            top: 313px;
        }

        &--3 {
            bottom: 70px;
            left: 52px;

            .surfboard-box__content {
                padding-left: 0;
                padding-right: 104px;
                top: -15px;
                left: -400px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 80px;
                    height: 1px;
                    background-color: $white;
                    right: 0;
                    left: auto;
                    top: 50%;
                }
            }
        }
    }

}


.circle-row {
    background-color: $green;
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);

    &+.circle-row {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.surfboard-box__circle.active+.surfboard-box__content {
    display: block;
}