.sleep {
    background-image: url(../../static/images/content/sleep/frangipani.png);
    background-position: bottom right;
    background-repeat: no-repeat;

    .slider-arrows {
        top: 225px;
        opacity: 0.5;
    }
}

.holder__star-list {
    height: 100px;
    display: flex;
    align-items: center;

    &+li {
        margin-left: -15px;
    }

}